
body {

  background-image: url("https://img.wallpapersafari.com/desktop/1600/900/68/94/HpDEWg.jpg");
  }

  h1 {
    background-color:rgba(0, 0, 0, 0.3);
    padding: 30px;
    text-align: left;
    font-family: "Helvetica";
    color: rgba(255, 255, 255, 0.7);
    font-size: 40px;
    margin: 0px
  }
h2 {
    position: absolute;
    top: 230px;
    left: 80px;
    font-weight:normal
    font-family: "Helvetica", monospace;
    font-size: 19px;
    text-align: left;
    font-family: "Helvetica", monospace;
    color: rgba(255, 255, 255, 0.7);

  }

  h3 {
  position: absolute;
  top: 200px;
  left: 80px;
  width: 800px;
    padding: 5px;
    font-family: "Helvetica", monospace;
    font-size: 105px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
  }

  p1{
     position: absolute;
     top: 260px;
     right: 460px;
     width: 200px;
     height: 500px;
     padding: 5px;
     font-family: "Helvetica", monospace;
     font-size: 25px;
     text-align: left;
     color: rgba(255, 255, 255, 0.7);
      }

  p2{
     position: absolute;
     top: 260px;
     right: 250px;
     width: 200px;
     height: 500px;
     padding: 5px;
     font-family: "Helvetica", monospace;
     font-size: 25px;
     text-align: left;
     color: rgba(255, 255, 255, 0.7);
       }

 p3{
     position: absolute;
     top: 260px;
     right: 60px;
     width: 150px;
     padding: 5px;
     font-family: "Helvetica", monospace;
     font-size: 25px;
     text-align: right;
     color: rgba(255, 255, 255, 0.7);
     }

pLongText{
     position: absolute;
     top: 260px;
     right: 50px;
     width: 400px;
     padding: 5px;
     font-family: "Helvetica", monospace;
     font-size: 25px;
     text-align: center;
     color: rgba(255, 255, 255, 0.7);
     }

    divBottom{
        position: absolute;
          top: 520px;
          right: 100px;
          width: 200px;
          height: 500px;
        padding: 5px;
        font-family: "Helvetica", monospace;
        font-size: 90px;
        text-align: left;
        color: rgba(255, 255, 255, 0.7);
        }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgba(0, 0, 0, 0.3);
}

li {
  float: right;
}

li a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 14px 16px;
  font-family: "Helvetica", monospace;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
*/