<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Education</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>ANNA CV</h1>
    <ul>
        <li><a href="superpowers">My Superpowers</a></li>
        <li><a href="lang">Languages</a></li>
        <li><a href="work">Work Experience</a></li>
        <li><a href="education">Education</a></li>
        <li><a href="profile">My profile</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <main>
        <section>
            <h2>
                <span style="font-weight:normal">YOU ARE VIEWING...</span>
            </h2>
            <h3> <span style="font-weight:normal">My Education</span></h3>
            <pLongText>
                <span><b>Higher Education:</b></span>
                <span>Some useless program</span>
                <span>@ some cool University</span>
                <br>
                <br>
                <span><b>School:</b></span>
                <span>One of those schools in a small town</span>

            </pLongText>
        </section>
    </main>
</header>
</body>
</html>