<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anna CV</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Welcome to my CV </h1>
<h2>Welcome to my CV </h2>
<h3>Welcome to my CV </h3>
<h4>Welcome to my CV </h4>
<h5>Welcome to my CV </h5>
<h6>Welcome to my CV </h6>

<p>
    this is some more text
</p>
<span> i am a span</span>
<span> i am a span</span>
<br>
<span> i am a span</span>
<span> i am a span</span>

<div>
    i can hold some content like a box
    <span> i am a span</span>
    <div> i am a div inside a div</div>
</div>

<section>
    i am a section - a bigger box
</section>


</body>
</html>