<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My languages</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>ANNA CV</h1>
    <ul>
        <li><a href="superpowers">My Superpowers</a></li>
        <li><a href="lang">Languages</a></li>
        <li><a href="work">Work Experience</a></li>
        <li><a href="education">Education</a></li>
        <li><a href="profile">My profile</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <main>
        <section>
            <div>
                <span>YOU ARE VIEWING...</span>
            </div>
            <div1>My Languages</div1>
            <div2>

                <span><b>Languages:</b></span>
                <br>
                <br>
                <span>Latvian - upper-intermediate</span>
                <br>
                <br>
                <span>Russian - native </span>
                <br>
                <br>
                <span>English - upper-intermediate</span>
                <br>
                <br>
                <span>Chinese - upper-intermediate</span>
                <br>
                <br>
                <span>..and some Java :)</span>


            </div2>
        </section>

    </main>
</header>
</body>
</html>