<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>ANNA CV</h1>
    <ul>
      <li><a href="superpowers">My Superpowers</a></li>
      <li><a href="lang">Languages</a></li>
      <li><a href="education">Education</a></li>
      <li><a href="profile">My profile</a></li>
      <li><a href="/">Home</a></li>
    </ul>
    <main>
      <section>
        <div>
          <span>YOU ARE VIEWING...</span>
        </div>
        <div1>My Profile</div1>
        <div2>
          <span><b>Name:</b></span>
          <span>Anna Kostenko</span>
          <br>
          <br>
        <span><b>Location:</b></span>
        <span>Riga</span>
          <br>
          <br>
          <span><b>Phone:</b></span>
          <span>123456</span>
          <br>
          <br>
          <span><b>Email:</b></span>
          <span>anna@kos</span>
        </div2>
      </section>
<!--      <div class="dropdown">-->
<!--        <button class="dropbtn">MENU</button>-->
<!--        <div class="dropdown-content">-->
<!--          <a href="/">Home</a>-->
<!--          <a href="profile">My profile</a>-->
<!--          <a href="education">Education</a>-->
<!--        </div>-->

    </main>
  </header>
</body>
</html>