<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>ANNA CV</h1>
    <ul>
      <li><a href="superpowers">My Superpowers</a></li>
      <li><a href="lang">Languages</a></li>
      <li><a href="work">Work Experience</a></li>
      <li><a href="education">Education</a></li>
      <li><a href="profile">My profile</a></li>
      <li><a href="/">Home</a></li>
    </ul>
    <main>
      <section>
        <h2>
          <span style="font-weight:normal">YOU ARE VIEWING...</span>
        </h2>
        <h3> <span style="font-weight:normal">My Profile</span></h3>
        <p1>
          <div>
            <span><b>Name:</b></span>
            <span th:text="${userName}"></span>
          </div>
          <div>
            <span><b>Location:</b></span>
            <span th:text="${location}"></span>
          </div>
          <div>
            <span><b>Age:</b></span>
            <span th:text="${age}"></span>
          </div>
        </p1>
        <p2>
          <div>
            <span>Name: </span>
            <span style="text-transform: capitalize" th:text="${myPet.getName()}"></span>
          </div>
          <div>
            <span>Age: </span>
            <span th:text="${myPet.getAge()}"></span>
          </div>
          <div>
            <span>Type: </span>
            <span th:text="${#strings.toLowerCase(myPet.getType())}"></span>
          </div>
        </p2>

        <p3>
        <div>
          <span>My Hobbies</span>
          <ol type="1">
            <li th:each="hobby: ${myHobbies}">
              <span th:text="${hobby.getName()}"></span>
            </li>
          </ol>
        </div>
        </p3>
      </section>
<!--      <div class="dropdown">-->
<!--        <button class="dropbtn">MENU</button>-->
<!--        <div class="dropdown-content">-->
<!--          <a href="/">Home</a>-->
<!--          <a href="profile">My profile</a>-->
<!--          <a href="education">Education</a>-->
<!--        </div>-->

    </main>
  </header>
</body>
</html>