<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My superpowers</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>ANNA CV</h1>
    <ul>
        <li><a href="superpowers">My Superpowers</a></li>
        <li><a href="lang">Languages</a></li>
        <li><a href="work">Work Experience</a></li>
        <li><a href="education">Education</a></li>
        <li><a href="profile">My profile</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <main>
        <section>
            <div>
                <span>YOU ARE VIEWING...</span>
            </div>
            <div1>My Superpowers</div1>
            <div2>

                <span>Nothing much to be proud of,</span>
                <br>
                <span>but I can draw you a six pack </span>
                <br>
                <span>in Photoshop :DD</span>

            </div2>
        </section>

    </main>
</header>
</body>
</html>