<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My superpowers</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>ANNA CV</h1>
    <ul>
        <li><a href="superpowers">My Superpowers</a></li>
        <li><a href="lang">Languages</a></li>
        <li><a href="work">Work Experience</a></li>
        <li><a href="education">Education</a></li>
        <li><a href="profile">My profile</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <main>
        <section>
            <h2>
                <span style="font-weight:normal">YOU ARE VIEWING...</span>
            </h2>
            <h3> <span style="font-weight:normal">My Superpowers</span></h3>
            <pLongText>
                <ol>
                    <li th:each="power: ${myPowers}">
                        <span th:text="${power.getName()}"></span>
                    </li>
                </ol>
            </pLongText>
        </section>
    </main>
</header>
</body>
</html>