<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Work Experience</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>ANNA CV</h1>
    <ul>
        <li><a href="superpowers">My Superpowers</a></li>
        <li><a href="lang">Languages</a></li>
        <li><a href="work">Work Experience</a></li>
        <li><a href="education">Education</a></li>
        <li><a href="profile">My profile</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <main>
        <section>
            h2>
            <span style="font-weight:normal">YOU ARE VIEWING...</span>
            </h2>
            <h3> <span style="font-weight:normal">My Work Experience</span></h3>
            <p2><p>Maternity leave</p>
                <p>Workplace #2</p>
                <p>Workplace #1</p>
            </p2>
        </section>

    </main>
</header>
</body>
</html>